//====================================================================================================
.header {

  /* .header__wrapp */
  @include adaptiveValue("padding-top", 30, 15);
  @include adaptiveValue("padding-bottom", 30, 15);
  @include adaptiveValue("padding-left", 60, 20);
  @include adaptiveValue("padding-right", 60, 20);

  &__wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* .header__box */

  &__box {
    display: flex;
    align-items: center;
    gap: 40px;
    @include adaptiveValue("gap", 40, 20);
  }

  /* .header__logo */

  &__logo {}

  /* .header__img */

  &__img {
    @include adaptiveValue("width", 280, 170);
    @include adaptiveValue("height", 38, 22);
  }

  /* .header__text */

  &__text {
    display: flex;
    align-items: center;

    @media (max-width: em(1468)) {
      display: none;
    }
  }

  /* .header__btn */

  &__btn {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 200px;
    padding: 10px 30px;

    @media (max-width: em(1014)) {
      display: none;
    }

  }

  /* .header__menu */

  &__menu {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 32, 16);

    @media (max-width: em(781)) {
      position: fixed;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 24px;
      overflow: auto;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      transition: left 0.3s ease 0s;
      background-color: rgb(22, 23, 35);
      @include adaptiveValue("padding-top", 108, 100);
      padding-bottom: rem(30);
      padding-right: rem(15);
      padding-left: rem(15);
      z-index: 5;

      &::before {
        content: "";
        top: -100%;
        position: fixed;
        width: 100%;
        left: 0;
        transition: top 0.3s ease 0s;
        background-color: rgb(22, 23, 35);
        height: 43px;
      }

      .menu-open & {
        left: 0;

        &::before {
          top: 0;
        }
      }
    }
  }

  /* .header__contacts */

  &__contacts {
    display: flex;
    align-items: center;
    gap: 30px;
    @include adaptiveValue("gap", 30, 15);
  }

  /* .header__favorite */

  &__favorite {
    @media (max-width: em(768)) {
      display: none;
    }
  }

  /* .header__btn-search */

  &__btn-search {
    display: flex;
    align-items: center;
    gap: 7px;

    span {
      @media (max-width: em(1352)) {
        display: none;
      }
    }
  }

  /* .header__tel */

  &__tel {
    display: flex;
    align-items: center;
    gap: 7px;

    span {
      @media (max-width: em(1352)) {
        display: none;
      }
    }
  }
}

.menu {

  /* .menu__icon */

  &__icon {}

  &__text {
    display: none;

    @media (max-width: em(781)) {
      display: block;
    }
  }

  &__btn-group {
    display: none;

    @media (max-width: em(781)) {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  &__btn {
    padding: 11px 53px;
    border: 1px solid rgb(192, 194, 215);
    border-radius: 200px;
    font-size: 14px;
    @media (max-width: em(400)){
        padding: 11px 20px; 
    }

  }

  &__btn--yellow{
    border-radius: 200px;
    border: 1px solid rgb(244, 104, 63);
    background: rgb(244, 104, 63);
  }

  &__tel{
    display: none;
    @media (max-width: em(781)){
        display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 100px;
    }  
  }

  /* .menu__body */

  &__body {
    
  }

  /* .menu__list */

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;

    @media (max-width: em(780)) {
      flex-direction: column;
      gap: 15px;
    }
  }

  /* .menu__item */

  &__item {}

  /* .menu__link */

  &__link {}

  &__social{
    display: none;
    @media (max-width: em(780)){
       display: flex;
       align-items: center;
       gap: 15px; 
    }
  }
}

.icon-menu {}

//====================================================================================================

//Burger

.icon-menu {
  display: none;

  @media (max-width: em(781)) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #ffffff;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before,
      &::after {}

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}